

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-TW" lang="zh-TW">

<head>
<title>
CYU.AIP.FunctionList
</title>

<script type="text/javascript" src="js/dtree.js"></script>
<link href="css/color.css" rel="stylesheet" type="text/css"  />

<script type="text/javascript" src="js/window.js"></script>

<script language="javascript">

function toService(s_id, title){
	parent.document.goTo(s_id, "AIP.aspx?page=ToService&s_id="+s_id, title, "AIP.aspx?page=ServiceFunctionList&s_id=" + s_id);
}



</script>

</head>

<body>


<form id="form_functionList" name="form_functionList" height="100%" width="100%" action='AIP.aspx?page=MainForm' method='post'>
<input type='hidden' name = 'functionName' value='FunctionList'>

<div id = "functionList" class="dtree" >

		<script type="text/javascript">
				//(id, pid, name, url, title, target, isopen, img)
				//如果是以javascript的方式呼叫function, url後不能加參數
				//<!--	
	
				d = new dTree('d');
				
				__functionList_js__
						
				/*
				d.add(0,-1,'功 能 選 項');
						d.add(1,0,'登出','javascript:logout()');
						d.add(2,0,'行事曆','calendar.asp','','master_right');
						d.add(3,0,'EMAIL','');
						d.add(31,3,'EMAIL','javascript:go_email()');
				*/
				
				d.draw();
				//-->
	
		</script>


</div>

</form>

</body>

</html>