
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5" />
<title>
CYU.AIP
</title>

<script language="JavaScript" type="text/javascript" src="js/navbar.js"></script>
<script type="text/javascript" src="js/tree.js"></script>

<link href="css/navbar-pix.css" rel="stylesheet" type="text/css" />

</head>

<body>

<script language="JavaScript" type="text/JavaScript">
var show = true;
var hide = false;

//修改選單的上下箭頭符號
function my_on(head,body)
{
	var tag_a;
	for(var i=0;i<head.childNodes.length;i++)
	{
		if (head.childNodes[i].nodeName=="A")
		{
			tag_a=head.childNodes[i];
			break;
		}
	}
	tag_a.className="on";
}

function my_off(head,body)
{
	var tag_a;
	for(var i=0;i<head.childNodes.length;i++)
	{
		if (head.childNodes[i].nodeName=="A")
		{
			tag_a=head.childNodes[i];
			break;
		}
	}
	tag_a.className="off";
}

function addMenu(s, menuContainer){

	var t = new JsTree(s);

	//測試 加入 內容
	//由於 此種方式 一定要使用兩層的功能表，故在此 特別適應之。
	var rootObj = document.getElementById(menuContainer);
	var menuObj = "";
	var subObj = "";
	var menuNode = null;
	var subNode = null;
	var menuCount = 0;
	
	var menuHeight = 0;    //<== 兩個地方會加，主 menu 增加時加 50，子 menu 增加時加25
	
	for (menuNode = t.root.lastChild.next; ; menuNode = menuNode.next){
	
		//alert(menuNode.data.title);

		menuCount++;
		menuHeight = menuHeight + 50;
		menuObj = menuObj + 
			"<div class='tit' id='menu" + menuCount + "' >"
			+ "	<div class='titpic' id='pc1'></div>"
			+ "	<a href='#nojs' target='' class='on' id='menu" + menuCount + "_a' tabindex='" + menuCount + "' >" + menuNode.data.title + "</a>" 
			+ "</div>"
			;
		
		subObj = "";		
		if (menuNode.lastChild != null) {
			subObj = 				//頭的部份
				"<div class='list' id='menu" + menuCount + "_child' style='height:@@subMenuHeightpx;'>"  //@@subMenuHeight 用來在待會計算出 subMenu數後，設定高度
				+"	<ul>"
				;
				
			var subMenuCount = 0;	
			for (subNode = menuNode.lastChild.next; ; subNode = subNode.next){
				//alert(subNode.data.title);
				
				subMenuCount++;
				menuHeight = menuHeight + 25;
				subObj = subObj +
					"<li class='m2_4' >"
					+ "<a href='javascript:goLink(\"" + subNode.data.link + "\")' >" + subNode.data.title + "</a>"      //<== 此處 goLink 要與 底下的 goLink 搭配
					+ "</li>"
					;			
		
				if (subNode == menuNode.lastChild) break;  //為了讓最後一個也能執行，故判斷式放這邊		
			}
			subObj = subObj +			//尾巴 的部份
					"</ul></div>"			
				;
			subObj = subObj.replace("@@subMenuHeight", ""+(subMenuCount*20+15));
		}
		
		menuObj = menuObj + subObj;
		
		
		if (menuNode == t.root.lastChild) break;  //為了讓最後一個也能執行，故判斷式放這邊
	}
	
	//alert(menuObj);
	rootObj.innerHTML = menuObj;
	self.resizeTo(220,menuHeight);    //<==動態修改 視窗大小
	
	var i=1;
	for (i=1; i<=menuCount; i++){
		var m = new Menu("menu" + i,"menu" + i + "_child","dtu","100",show,my_on,my_off);
		m.init();
	}

}


//新增選單	
window.onload=function()
{

	var s = __service_functionList__;

/*
	var s = "1, 0, 功能0, test1\n"
		+ "2, 0, 功能表1, test2\n"
		+ "3, 0, 功能表2, test3\n"
		+ "4, 2, 功能1-1, test4\n"
		+ "5, 2, 功能1-2, test5\n"
		+ "6, 3, 功能2-1, test6\n"
		+ "7, 3, 功能2-2, test7\n"
		+ "72, 3, 功能2-2, test7\n"
		+ "73, 3, 功能2-2, test17\n"
		+ "8, 1, 功能1-1, test8\n";
*/
		
	addMenu(s, "menu");

}

function goLink( link){   //__function_target__

//	menu.style.display ="none";
//	alert("go to link: " + link);
//	menu.style.display ="";

/*
	mainform.functionName.value = "ChangePost";
	mainform.postId.value = postId;
  mainform.target = "_self";
  mainform.submit();		
*/

	//document.location = link;	
	parent.document.toFunction("__s_id__", link);

}

</script>

<div id="menu" >
</div>


</body>
</html>
