<HTML>
<Head>
<title>qury 測試</title>

<script language='javascript'>

function editbook(b_id){	
	form1.page.value = "Edit";
	form1.action='service.aspx';
	form1.bookid.value=b_id;
	form1.submit();	
}

</script>

</Head>


<TABLE width="100%" cellpadding="0" cellspacing="0" align="center">
<TR>
<TD>
<TABLE Border=1 CellSpacing=0 width="100%" cellpadding="0" align="center">
testestets
<form name='form1' method='post'>
<input type='hidden' name='page' value='' />
<input type='hidden' name = 'bookid' value=''>
	
<TR BGCOLOR=#AAAAFF>
	<TH>ALL</TH>
	<TH>書刊名(按此HyperLink可以查館藏)<BR>TITLE</TH>
	<TH>作者/<BR>AUTHOR</TH>
	<TH>出版商<BR>PUBLISHER</TH>
	<TH>出版年<BR>PUBLISH YEAR</TH>
	<TH>價錢<BR>PRICE</TH>
</TR>

__books__

</TABLE>
</TABLE>
</form>
<br>
<a href="service.aspx?page=Default">回首頁</a>
<br>	

</HTML>